<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MyApp</title>
    <!-- build:css /css/site.css -->
    <link rel='stylesheet' href="../src/bower_components/foundation-icon-fonts/foundation-icons.css" type='text/css'>
    <link rel="stylesheet" href="css/app.css">
    <!-- endbuild -->

</head>
<body>

    {% include "partials/nav.html" %}

    {% block content %} {% endblock %}

    {% include "partials/footer.html" %}

    <script src="../src/bower_components/jquery/dist/jquery.js"></script>
    <script src="../src/bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../src/js/app.js"></script>
</body>
</html>

